{% extends 'base.html.twig' %}

{% block body %}

<h1>Daily Fridge : les bons choix pour votre frigo !</h1>

<p>
<h3>
Daily Fridge décrypte les code barres de vos produits
alimentaires, analyse leur impact sur la santé mais surtout vous evites 
les gachis alimentaire grâce à son système de notifications pour les dates limites de consommation !
</h3>
</p>
{% endblock %}

